{#
/**
 * @file
 * Theme override for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 */
#}
{% if breadcrumb %}
	<nav aria-label="You are here:" role="navigation">
		<h2 id="system-breadcrumb" class="visually-hidden">{{ 'Breadcrumb'|t }}</h2>
		<ul class="breadcrumbs">
			{% for item in breadcrumb %}
				<li>
					{% if loop.last and not loop.first %}
						<span class="show-for-sr">Current: </span> {{ item.text }}
					{% else %}
						{% if item.url %}
							<a href="{{ item.url }}">{{ item.text }}</a>
						{% else %}
							{{ item.text }}
						{% endif %}
					{% endif %}
				</li>
			{% endfor %}
		</ul>
	</nav>
{% endif %}
