{% extends "page.html.twig" %}

{#
See page.html.twig
#}

{% block page_title %}
	<!-- Page title -->
	<div class="page-title slider">
		{{ page.header }}
	</div>
{% endblock %}

{% block content %}

	<!-- Intro text -->
	<section class="section-odd intro-text">
		<div class="row">
			<div class="column text-center">
				{{ page.content }}
			</div>
		</div>
	</section>

	<!-- Calendar / News -->
	<div class="section-even calendar-news">

		<div class="row" data-equalizer data-equalize-on="large" id="equalize-columns">
			<div class="column medium-5 large-4">

				<!-- Calendar -->
				{{ page.fp_calendar }}

			</div>
			<div class="column medium-7 large-8">

				<!-- News -->
				{{ page.fp_news }}

			</div>
		</div>

	</div>

	<!-- Banner Bar -->
	<section class="section-even banner-bar">

		<div class="row">
			<div class="small-12 large-8 column">
				{{ page.fp_banner }}
			</div>
			<div class="small-12 large-4 column wisv-buttons">
				{{ page.fp_buttons }}
			</div>
		</div>

	</section>

	<!-- Gallery -->
	<section class="section-odd gallery">

		<div class="row">
			<div class="small-8 column">
				<h1 class="small gallery-title">Photo album</h1>
			</div>
			<div class="small-4 column text-right">
				<a class="button alt" href="#">More <i class="fa ch-arrow-right"></i></a>
			</div>
		</div>

		<div class="row small-up-1 medium-up-2 large-up-3">

			<article class="column">
				<a class="gallery-item-wrapper" href="#">
					<img alt="" src="{{ base_path ~ directory }}/images/test/640x360.png">
					<div class="caption">
						<div class="align-middle">
							<h1 class="small">Event title</h1>
							<p>Short description.</p>
						</div>
					</div>
				</a>
			</article>
			<article class="column">
				<a class="gallery-item-wrapper" href="#">
					<img alt="" src="{{ base_path ~ directory }}/images/test/640x360.png">
					<div class="caption">
						<div class="align-middle">
							<h1 class="small">No description</h1>
						</div>
					</div>
				</a>
			</article>
			<article class="column">
				<a class="gallery-item-wrapper" href="#">
					<img alt="" src="{{ base_path ~ directory }}/images/test/640x360.png">
					<div class="caption">
						<div class="align-middle">
							<h1 class="small">WiFi Weekendrally 2016</h1>
							<p>'Hulde ende Bravo'</p>
						</div>
					</div>
				</a>
			</article>
		</div>

		{{ page.fp_gallery }}

	</section>

{% endblock %}
